*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0d0d0d;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#FFD700;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:.3s;
}

nav a:hover{
    color:#FFD700;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:52px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    color:#bbbbbb;
    margin-bottom:40px;
}

.hero button{
    background:#FFD700;
    color:black;
    border:none;
    padding:16px 40px;
    font-size:18px;
    border-radius:50px;
    cursor:pointer;
    font-weight:bold;
}

.hero button:hover{
    transform:scale(1.05);
}
